/* Adjustment for fixed navbar */
body { padding-top: 152px; }
@media screen and (max-width: 768px) {
  body { padding-top: 52px; }
}

.navbar-brand {
  height: 150px;
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    height: 50px;
  }
}

.navbar-brand > .logo {
  max-height: 100%;
  height: 100%;
  width: auto;
  margin: 0 auto;
  object-fit: contain;
}

.carousel {
  height: 700px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 700px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 700px;
}

.biography > .thumbnail > a > .img-responsive {
  max-height: 232px;
}

.media-heading > .row > .col-md-6 > a > .img-responsive {
  max-height: 70px;
  margin-top: 75px;
  margin-bottom: 75px;
}