---
layout: front
title: Home
weight: 0
---
<div class="jumbotron">
  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="page-header text-center">
          <h2>{{ site.data.front['vision'].heading }}</h2>
        </div>
        <div class="page-content">
          <p>{{ site.data.front['vision'].content }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="page-header text-center">
          <h2>{{ site.data.front['mission'].heading }}</h2>
        </div>
        <div class="page-content">
          <p>{{ site.data.front['mission'].content }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="container">
  <div class="row">
    <div class="col-md-12 text-center page-header">
      <h1>The APT Crew<br /><small>meet the people behind it all</small></h1>
    </div>
    {% for bio in site.biographies %}
      {% include bio.html name=bio.name content=bio.content photo=bio.photo url=bio.url %}
    {% endfor %}
  </div>
</section>
