<section id="conx2share-front" class="container">

  {% assign conx2share = site.conx2share | sort:'index' | first %}

  <div class="page-header">
    <h2><a href="http://conx2share.com/"><img class="img-responsive center-block" src="{{ '/images/logo-conx2share.png' | prepend:site.baseurl }}" alt="{{ conx2share.heading }}" /></a></h2>
  </div>

  <div class="media row">

    {% assign file = '/images/' | append:site.data.front['phone'].type | append:'-' | append:site.data.front['phone'].color | append:'.png' %}

    <div class="media-left col-md-4">
      <a href="http://conx2share.com/"><img class="media-object img-responsive" src="{{ file | prepend:side.baseurl }}" /></a>
    </div>

    <div class="container col-md-7">
      <div class="media-heading">
        <div class="page-content">
          {{ conx2share.content }}
        </div>
      </div>
      <div class="media-body">
        <div class="row">
          {% for store_button in site.data.front['store_buttons'] %}
          <div class="col-md-6">
            <a href="{{ store_button[1]['url'] }}">
              <img class="img-responsive center-block" src="{{ store_button[0] | prepend:'/images/' | append:'_store_button.png' | prepend:site.baseurl }}" alt="{{ store_button[1]['alt'] }} store button" /></a>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>

  </div>
</section>
