<section id="conx2share-front" class="container">
  <div class="row">

    {% assign file = '/images/' | append:site.data.front['phone'].type | append:'-' | append:site.data.front['phone'].color | append:'.png' %}

    <div class="col-md-4">
      <img src="{{ file | prepend:side.baseurl }}" />
    </div>

    {% assign conx2share = site.conx2share | sort:'index' | first %}

    <div class="col-md-8 pull-right">
      <div class="pull-left">
        <h3>{{ conx2share.heading }}</h3>
        {{ conx2share.content }}
      </div>
      <div class="row">
        {% for store_button in site.data.front['store_buttons'] %}
          <div class="col-md-6">
            <a href="{{ store_button[1]['url'] }}"><img src="{{ store_button[0] | prepend:'/images/' | append:'_store_button.png' | prepend:site.baseurl }}" alt="{{ store_button[1]['alt'] }} store button" /></a>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section>
