<section id="conx2share-front" class="container">
  <div class="media row">

    {% assign file = '/images/' | append:site.data.front['phone'].type | append:'-' | append:site.data.front['phone'].color | append:'.png' %}

    <div class="media-left col-md-4">
      <a href="http://conx2share.com/"><img class="media-object img-responsive" src="{{ file | prepend:side.baseurl }}" /></a>
    </div>

    {% assign conx2share = site.conx2share | sort:'index' | first %}

    <div class="container col-md-7">
      <div class="media-body">
        <div class="media-heading page-header">
          <h3><a href="http://conx2share.com/">{{ conx2share.heading }}</a></h3>
        </div>
        <div class="page-content">
          {{ conx2share.content }}
        </div>
        <div class="row">
          {% for store_button in site.data.front['store_buttons'] %}
            <div class="col-md-6">
              <a href="{{ store_button[1]['url'] }}"><img class="img-responsive" src="{{ store_button[0] | prepend:'/images/' | append:'_store_button.png' | prepend:site.baseurl }}" alt="{{ store_button[1]['alt'] }} store button" /></a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</section>
