<footer class="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <a href="http://www.americanprayerteam.com/">www.americanprayerteam.com</a>
      </div>
      {% comment %}
      <div class="col-sm-6">
        <span id="facebook-logo"><a href="https://www.facebook.com/pages/Conx2share/851198384912284"><i class="fa fa-facebook-official"></i></a></span>
        <span id="twitter-logo"><a href="https://twitter.com/conx2share"><i class="fa fa-twitter"></i></a></span>
        <span id="intagram"><a href="http://instagram.com/conx2share/"><i class="fa fa-instagram"></i></a></span>
      </div>
      {% endcomment %}
    </div>
  </div>
</footer>
